<ion-view view-title="CustomerType" ng-controller="userController">  
  <ion-content scroll="true">
      
       <div class="list" ng-init="loadData1()">
           
        <div class="imagedatas">
           <img ng-repeat="data in imageaudiodata" src={{HOSTURL}}{{data.item_name}} style="width:40%;height:40%">
            <p ng-repeat="data in imageaudiodata">ITEM : {{HOSTURL}}{{data.item_name}}</p>
        </div>
           
        <div class="audiodatas" ng-if="audiodatas == true">
           
            <ul class="list">
                <li ng-repeat="aud in imageaudiodata">
                        <div class="row audio-data">    
                            <div class="col col-10">
                                <i class="{{audioicon}}" id="{{$index}}"></i>
                                <i class="{{audioiconplay}}" id="{{$index}}"></i>
                            </div>
                            <div class="col col-70 audio-file" ng-click="audioPlayFromURL({{HOSTURL}}{{data.item_name}},$index)">{{aud.fullPath.substring(aud.fullPath.lastIndexOf('/')+1)}}</div>
                         </div>
                </li>
             </ul>
        </div>   
           
        <form valdr-type="addressdetails" novalidate>   
        <label>
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="user.user_first_name">
        </label>
        <label>
        <span class="input-label">Mobile Number</span>
        <input type="text" placeholder="Mobile" ng-model="user.user_mobileno">
        </label>
        <label>
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="user.user_email">
        </label>
           
        <label>
        <span class="input-label">Address</span>
            <textarea type="text" ng-model="user.user_address1"></textarea>
        </label>
            
    
        <label>
        <span class="input-label">Pincode</span>
        <input type="text" placeholder="Pincode" ng-model="user.user_pincode">
        </label>
        <label>
        <span class="input-label">Landmark</span>
        <input type="text" placeholder="Landmark" ng-model="user.user_landmark">
        </label>
           
            <label>
                <span class="input-label">Account Type</span>
                <p><select ng-model="user.user_type" ng-change="getusertype()">
                    <option value="1" selected>Bharat Ration Direct Customer</option>
                    <option value="2">Bharat Ration Dealer/Corporate</option>
                </select></p>
                 <span class="input-label error_message">{{error_message3}}</span>
            </label>
        
          
            <label ng-show="usertypedata == true">
                <span class="input-label">Dealer Code</span>
                <input type="text" required  ng-model="user.dealer_code" ng-change="onchagevalidation()">
                <span class="input-label error_message">{{error_message4}}</span>
            </label>
            
           <label>
                <span class="input-label">Comments</span>
                <input type="text" required  ng-model="user.user_comments">
            </label>
 
             <label>
                <span class="input-label">Select Amount Range</span>
                 <p></p>
                 <select ng-model="user.amount" ng-change="getGift()">
                  <option value="0">I Don't Know</option>
                  <option ng-repeat="amount in amountinfo" value={{amount.amount_id}}>{{amount.amount_from}}-{{amount.amount_to}}</option>     
                 </select>
            </label>
          <label ng-show="giftList==true">
                <span class="input-label">Select Price</span>
               
            </label>
          
            <ul class="list" ng-model="user.giftdatas" ng-show="giftList==true">
                        
                        <li class="item"  ng-class="{'selected':$index == selected}" ng-repeat="gift in giftdata" ng-click="selectList(giftdata,$index)">
                            {{gift.gift_name}}
                        </li>
                   </ul>
            <button class="button button-full button-positive button-font next-button" 
                    ng-click="finalValidation()">Submit</button>
            <p></p><br/>
            <p>{{error_message1}}</p><br/>
            <p>{{error_message2}}</p><br/>
            <p>{{error_message3}}</p><br/>
            <p>{{error_message4}}</p><br/>
            <p>{{error_message5}}</p><br/>
            <p>{{error_message6}}</p><br/>
            <p>{{error_message7}}</p><br/>
            <p>{{error_message8}}</p><br/>
            <p>End of Error</p>
            <br/>
            <p></p>
           </form>
</div>
      
    </ion-content>
</ion-view>    
    