<ion-view view-title="Upload Image" ng-controller="userController">
  <ion-content class="padding"> 
      
      <div class="list">
          <!--
        <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="user.user_first_name">
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Mobile Number</span>
        <input type="text" placeholder="Mobile" ng-model="user.user_mobileno">
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="user.user_email">
        </label>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Address Line1</span>
        <input type="text" placeholder="Email" ng-model="user.user_address1">
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Address Line2</span>
        <input type="text" placeholder="Email" ng-model="user.user_address2">
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Country</span>
        <p></p>
        <select>
        <option ng-model="user.country_id">{{user.country_name}}</option>
        </select>
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">State</span>
        <p></p>
        <select>
        <option ng-model="user.state_id">{{user.state_name}}</option>
        </select>
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">City</span>
        <p></p>
        <select ng-options="city.city_name for city in citylist track by city.city_name"
        ng-model="user.city">
        </select>
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Pincode</span>
        <input type="text" placeholder="Pincode" ng-model="user.user_pincode">
        </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Landmark</span>
        <input type="text" placeholder="Landmark" ng-model="user.user_landmark">
        </label>
           <!--
            <label class="item item-input item-stacked-label">
                <span class="input-label">Account Type</span>
                <p><select ng-model="user.user_type" ng-change="getusertype()" ng-change="onchagevalidation()">
                    <option value="1" selected>Bharat Ration Direct Customer</option>
                    <option value="2">Bharat Ration Dealer/Corporate</option>
                </select></p>
                 <span class="input-label error_message">{{error_message3}}</span>
            </label>
        
          
            <label class="item item-input item-stacked-label" ng-show="usertypedata == true">
                <span class="input-label">Dealer Code</span>
                <input type="text" required  ng-model="user.dealer_code" ng-change="onchagevalidation()">
                <span class="input-label error_message">{{error_message4}}</span>
            </label>
            
           <label class="item item-input item-stacked-label">
                <span class="input-label">Comments</span>
                <input type="text" required  ng-model="user.user_comments">
            </label>
             <label class="item item-input item-stacked-label">
                <span class="input-label">Select Amount Range</span>
                 <p></p>
                 <select ng-model="user.amount" ng-change="getGift()">
                  <option value="0">I Don't Know</option>
                  <option ng-repeat="amount in amountinfo" value={{amount.amount_id}}>{{amount.amount_range}}                     </option>     
                 </select>
            </label>
          <label class="item item-input item-stacked-label" ng-show="giftList==true">
                <span class="input-label">Select Price</span>
               
            </label>
          
            <ul class="list" ng-show="giftList==true">
                        
                        <li class="item"  ng-class="{'selected':$index == selected}" ng-repeat="gift in giftdata" ng-click="selectList(gift.gift_name,$index)">
                            {{gift.gift_name}}
                        </li>
                   </ul>
                   
           <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message}}</span>
            </label>
             <button class="btn-custom button-full button-small" ng-click="openAttachmentModal()">
                    Attachments
            </button>
-->
            <div ng-show="image !== undefined">
               <input type="hidden" ng-model="order_id" value="{{order_id}}">
                <div class="row"  style="flex-wrap: wrap;">
                    <div class="col col-33" ng-repeat="imageuri in imagedata">
                        
                         <img style="width:100%;height:100px" ng-show="imageuri !== undefined" ng-click="zoom('{{imageuri}}')" ng-src="{{imageuri}}">
                      <p class="image-close">  <i class="ion-close-circled customIcon " ng-click="removeImage($index,imageuri)" ng-model="imageuri"> </i></p>
                        
                      <!--  <button class="button btn-custom button-small" ng-hide="hideSubmit[$index] == true" ng-click="uploadDataNew($index)">Submit</button> -->
                            <div ng-show="showSpinner[$index] == true"><ion-spinner icon="bubbles"></ion-spinner></div>
                    </div>  
                    <div class="col col-33">
                        <img  style="width:90%;height:100px" src="img/addimage.png" ng-if="hasimage == true" ng-click="openAttachmentModal()">
                    </div>
                </div>    
          </div>
         
       
              
           <!--      <div class="row"  style="flex-wrap: wrap;">
                    <ul class="list">
                            <li ng-repeat="aud in audiodata">
                                <div class="row audio-data">
                            <div class="col col-10"><i class="ion-mic-a customIcon" id="{{$index}}"></i>
                            </div>
                            <div class="col col-80 audio-file" ng-click="audioClick(aud,$index)">{{aud.fullPath.substring(aud.fullPath.lastIndexOf('/')+1)}}</div>
                            <div class="col col-10"><i class="ion-ios-close customIcon" ng-click="removeAudio($index)"></i></div>
                                </div>    
                            </li>
                    </ul>
                </div>    -->
          
            <div class="row"  style="flex-wrap: wrap;">
                <input type="hidden" ng-model="order_id" value="{{order_id}}">
                    <ul class="list">
                            <li ng-repeat="aud in audiodata">
                                <div class="row audio-data">
                                    
                            <div class="col col-10">
                                <i class="{{audioicon}}" id="{{$index}}">
                                </i>
                                <i class="{{audioiconplay}}" id="{{$index}}">
                                </i>
                            </div>
                            <div class="col col-70 audio-file" ng-click="audioClick(aud,$index)">{{aud.fullPath.substring(aud.fullPath.lastIndexOf('/')+1)}}</div>
                            <div class="col col-10"><i class="ion-ios-close customIcon" ng-click="removeAudio($index,aud)"></i></div>
                             <div class="col col-10">
                                 <!--    <i class="ion-plus-circled customIcon" ng-hide="hideSubmit[$index] == true" ng-click="uploadDataNew($index)"></i> -->
                                  <div ng-show="showSpinner[$index] == true"><ion-spinner icon="bubbles"></ion-spinner></div>
                                  
                                    </div>
                                    
                                     </div>
                            </li>
                    </ul>
                <img style="widht:120px;height:100px;" src="img/addaudio.png" ng-click="openAttachmentModal()" ng-if="hasaudio == true">
                </div> 
          <button class="button button-full button-positive button-font next-button" 
                  ng-click="openAddressAttachmentModal()" id="next-button">
                 <!--  <a href="#useraddress" class="btn-custom">Submit</a> -->
              Next
              
            </button>
    <script id="attachment.html" type="text/ng-template">
         <ion-modal-view>
              <ion-header-bar class="bar-stable header-custom">
          <div class="row">
        
           <!--<div class="col text-center header_outer">
             <img class="header_logo_img" src="img/headerlogo.png">  
             <span class="header-title">Bharat Ration</span>
           </div>   -->
           <div class="col col-20"></div>
           <div class="col col-10"><img class="header_outer logo" src="img/headerlogo.png">  </div>
           <div class="col col-50" style="margin-top:-10px;"><span class="logo_text">Bharat Ration</span></div>
           <div class="col col-20"></div>
         
        </div>   
     </ion-header-bar>  
          <div class="modal imagemodal">
            <ion-content class="modalclass">
                
 <div class="row">
    <div class="col audioimg-popup">
        <div id="image_gallery">    
            <button class="button button-full button-positive"  ng-show="hasimage == true" ng-click="selectimage()">
                   <i class="ion-social-chrome icon-spacing customIcon"></i>
                  <span class="fontsize"> Select image from gallery</span>
            </button> 
        </div>
  
        <div id="image_camera">        
            <button class="button button-full button-positive modal-data"  ng-show="hasimage == true" ng-click="captureImageModal()">
                     <i class="ion-camera icon-spacing customIcon"></i>
                <span class="fontsize"> Take a snap of your order</span>
            </button>
        </div>
        <br/>
        <br/>
         <div>    
            <button class="button button-full button-positive  modal-data" id="audio_mike" ng-show="hasaudio == true" ng-click="captureAudioModal()">
                     <i class="ion-mic-a icon-spacing customIcon"></i>
                <span class="fontsize">Record your order list</span>
            </button>
        </div>
    </div>
</div>   
  
            </ion-content> 
             </div>
        </ion-modal-view>
          
    </script>      
          
          
          
          
    
      
      <script id="my-modal.html" type="text/ng-template">
              <ion-modal-view>
                <ion-header-bar>
                  <h1 class="title" style="width:90%">Image Preview <i ng-click="closeModal()" class="ion-close-circled" style="float:right;font-size:22px"></i></h1>
                </ion-header-bar>
              <ion-content>
                <div class="modal-content">
                    <img ng-src="{{zoomimage}}" class="zoomimage"/>
                </div>
              </ion-content>
             </ion-modal-view>
     </script>
          
    <script id="addressmodal.html" type="text/ng-template">
           <ion-modal-view>
              <ion-content>
                <div class="modal-content" ng-init="loadData()">
                   <!-- address details content starts -->
                    
                    <form>   
            <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" placeholder="First Name" ng-model="user.user_first_name">
            <span class="error_message displaynone"  id="name">{{name_error}}</span>
            </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile Number</span>
            <input type="text" placeholder="Mobile" ng-model="user.user_mobileno">
            <span class="error_message displaynone" id="mobile">{{mobile_error}}</span>
            </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="user.user_email">
            <span class="error_message displaynone" id="email">{{email_error}}</span>
            </label>

            <label class="item item-input item-stacked-label">
            <span class="input-label">Address</span>
            <textarea type="text" ng-model="user.user_address1" ></textarea>
            <span class="error_message displaynone" id="address">{{address_error}}</span>
            </label>

            <label class="item item-input item-stacked-label">
            <span class="input-label">Pincode</span>
            <input type="text" placeholder="Pincode" ng-model="user.user_pincode">
                <span class="error_message displaynone" id="pincode">{{pincode_error}}</span>
            </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Landmark</span>
            <input type="text" placeholder="Landmark" ng-model="user.user_landmark">
            <span class="error_message displaynone" id="landmark">{{landmark_error}}</span>
            </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Account Type</span>
                    <p><select ng-model="user.user_type" class="select-border" ng-change="getusertype()">
                        <option value="1" selected>Bharat Ration Direct Customer</option>
                        <option value="2">Bharat Ration Dealer/Corporate</option>
                    </select></p>
                     <span class="error_message displaynone">{{usertype_error}}</span>
                </label>
                <label class="item item-input item-stacked-label" ng-show="usertypedata == true">
                    <span class="input-label">Dealer Code</span>
                    <input type="text"   ng-model="user.dealer_code">
                    <span class="error_message displaynone" id="code">{{dealercode_error}}</span>
                </label>

               <label class="item item-input item-stacked-label">
                    <span class="input-label">Comments</span>
                    <input type="text"   ng-model="user.user_comments">
                </label>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Select Amount Range</span>
                     <p></p>
                     <select ng-model="user.amount" class="select-border" ng-change="getGift()">
                      <option value="0">I Don't Know</option>
                      <option ng-repeat="amount in amountinfo" value={{amount.amount_id}}>{{amount.amount_from}}-{{amount.amount_to}}</option>     
                     </select>
                </label>
              <label class="item item-input item-stacked-label" ng-show="giftList==true">
                    <span class="input-label">Select Gift</span>

                </label>

                <ul class="list" ng-model="user.giftdatas" ng-show="giftList==true">

                            <li class="item"  ng-class="{'selected':$index == selected}" ng-repeat="gift in giftdata" ng-click="selectList(giftdata,$index)">
                                {{gift.gift_name}}
                            </li>
                           <li>
                            <span class="error_message displaynone" id="gift_error"> {{gift_error}}</span>
                          </li> 

                       </ul>
                             <div class="final-submit-outer">
                     <button class="button button-full button-positive button-font next-button final-submit" 
                             ng-click="finalValidation()">Submit</button>    
                </div>
               
           </form>
                    
                    
                    
                   <!-- address details content ends -->
                </div>
              </ion-content>
             </ion-modal-view>
    </script>      
          
      </div>     
  </ion-content>
</ion-view>  