<ion-view view-title="Upload Image" ng-controller="userController">
  <ion-content class="padding"> 
      
      <div class="list">
          
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" required  ng-model="user.user_name" ng-change="onchagevalidation()">
                <span class="input-label error_message">{{error_message1}}</span>
            </label>
          
           <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="tel" required  ng-model="user.user_mobile" ng-change="onchagevalidation()">
                <span class="input-label error_message">{{error_message2}}</span>
            </label>
           
            <label class="item item-input item-stacked-label">
                <span class="input-label">Account Type</span>
                <p><select ng-model="user.user_type" ng-change="getusertype()" ng-change="onchagevalidation()">
                    <option value="1" selected>Bharat Ration Direct Customer</option>
                    <option value="2">Bharat Ration Dealer/Corporate</option>
                </select></p>
                 <span class="input-label error_message">{{error_message3}}</span>
            </label>
        
          
            <label class="item item-input item-stacked-label" ng-show="usertypedata == true">
                <span class="input-label">Dealer Code</span>
                <input type="text" required  ng-model="user.dealer_code" ng-change="onchagevalidation()">
                <span class="input-label error_message">{{error_message4}}</span>
            </label>
            
           <label class="item item-input item-stacked-label">
                <span class="input-label">Comments</span>
                <input type="text" required  ng-model="user.user_comments">
            </label>
           <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message}}</span>
            </label>
             <button class="btn-custom button-full button-small" ng-click="openAttachmentModal()">
                    Attachments
            </button>
            <div ng-show="image !== undefined">
               
                <div class="row"  style="flex-wrap: wrap;">
                    <div class="col col-33" ng-repeat="imageuri in imagedata">
                         <img style="width:100%;height:100px" ng-show="imageuri !== undefined" ng-click="zoom('{{imageuri}}')" ng-src="{{imageuri}}">
                      <p class="image-close">  <i class="ion-close-circled customIcon " ng-click="removeImage($index)"> </i></p>
                        <!-- <button class="button btn-custom button-small" >Remove</button> !-->
                    </div>  
                </div>    
          </div>
         
       
              
                 <div class="row"  style="flex-wrap: wrap;">
                    <ul class="list">
                            <li ng-repeat="aud in audiodata">
                                <div class="row audio-data">
                            <div class="col col-10"><i class="ion-mic-a customIcon" id="{{$index}}"></i>
                            </div>
                            <div class="col col-80 audio-file" ng-click="audioClick(aud,$index)">{{aud.fullPath.substring(aud.fullPath.lastIndexOf('/')+1)}}</div>
                            <div class="col col-10"><i class="ion-ios-close customIcon" ng-click="removeAudio($index)"></i></div>
                                </div>    
                            </li>
                    </ul>
                </div>    
      
          
          <button class="btn-custom button-full button-large" ng-click="uploadfile()">
                    Submit
            </button>
          
         <br/>
          <br/>
          <br/>
          
          
          
          
    <script id="attachment.html" type="text/ng-template">
         <ion-modal-view>
          <div class="modal imagemodal">
            <ion-content class="modalclass">
                
                <div class="row">
    <div class="col process-padding">
        <div class="process-content">    
            <button class="btn-custom button-full button-large" ng-show="hasimage == true" ng-click="selectimage()">
                   <i class="ion-social-chrome icon-spacing customIcon"></i>Select image from gallery
            </button>
        </div>
        <div class="process-content">        
            <button class="btn-custom button-full button-large  modal-data" ng-show="hasimage == true" ng-click="captureImageModal()">
                     <i class="ion-camera icon-spacing customIcon"></i>Take a snap of your order list
            </button>
        </div>
         <div class="process-content">    
            <button class="btn-custom button-full button-large  modal-data" ng-show="hasaudio == true" ng-click="captureAudioModal()">
                     <i class="ion-mic-a icon-spacing customIcon"></i>Record your order list
            </button>
        </div>
    </div>
</div>   
  
            </ion-content> 
             </div>
        </ion-modal-view>
          
    </script>      
          
          
          
          
    
      
      <script id="my-modal.html" type="text/ng-template">
         
         <!-- <div class="modal imagemodal">
             
            <ion-content class="modalclass">
                <div class="modal-outer">
              <div class="modal-content">    
               <button class="button btn-custom button-full button-large" ng-click="selectimage()">
                       <i class="ion-images icon-spacing customIcon"></i>Select Image
                </button>
              </div>
               <div class="modal-content">        
                <button class="button btn-custom button-full button-large  modal-data" ng-click="captureImage()">
                         <i class="ion-camera icon-spacing customIcon"></i>Capture Image
                </button>
                </div>
                 <div class="modal-content">    
                <button class="button btn-custom button-full button-large  modal-data" ng-click="captureAudio()">
                         <i class="ion-mic-a icon-spacing customIcon"></i>Capture Audio
                </button>
                </div>
             </div>
                
            </ion-content> -->
              <ion-modal-view>
                <ion-header-bar>
                  <h1 class="title" style="width:90%">Image Preview <i ng-click="closeModal()" class="ion-close-circled" style="float:right;font-size:22px"></i></h1>
                </ion-header-bar>
              <ion-content>
                <div class="modal-content">
                    <img ng-src="{{zoomimage}}" class="zoomimage"/>
                </div>
              </ion-content>
                   </ion-modal-view>
          
     </script>
      </div>     
  </ion-content>
</ion-view>  