<ion-view view-title="Upload Image" ng-controller="userController">
  <ion-content class="padding"> 
      
      <div class="list">
          
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" required  ng-model="user.user_name">
            </label>
           <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message1}}</span>
            </label>
           <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="tel" required  ng-model="user.user_mobile">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message2}}</span>
            </label>
          
            <label class="item item-input item-stacked-label">
                <span class="input-label">Account Type</span>
                <p><select ng-model="user.user_type" ng-change="getusertype()">
                    <option value="1" selected>Bharat Ration Direct Customer</option>
                    <option value="2">Bharat Ration Dealer/Corporate</option>
                </select></p>
            </label>
          <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message3}}</span>
            </label>
          
            <label class="item item-input item-stacked-label" ng-show="usertypedata == true">
                <span class="input-label">Dealer Code</span>
                <input type="text" required  ng-model="user.dealer_code">
            </label>
             <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message4}}</span>
            </label>
           <label class="item item-input item-stacked-label">
                <span class="input-label">Comments</span>
                <input type="text" required  ng-model="user.user_comments">
            </label>
           <label class="item item-input item-stacked-label">
                <span class="input-label error_message">{{error_message}}</span>
            </label>
          
            <div ng-show="image !== undefined">
               
                <div class="row"  style="flex-wrap: wrap;">
                    <div class="col col-33" ng-repeat="imageuri in imagedata">
                         <img style="width:100%;height:100px" ng-show="image !== undefined" ng-click="zoom('{{imageuri}}')" ng-src="{{imageuri}}">
                      <p class="image-close">  <i class="ion-close-circled customIcon " ng-click="removeImage($index)"> </i></p>
                        <!-- <button class="button btn-custom button-small" >Remove</button> !-->
                    </div>  
                </div>    
          </div>
          
          <div ng-show="audio !== undefined">
              
                 <div class="row"  style="flex-wrap: wrap;">
                    <ul class="list">
                            <li ng-repeat="aud in audiodata">
                                <div class="row audio-data">
                            <div class="col col-10"><i class="ion-mic-a customIcon"></i></div>
                            <div class="col col-80 audio-file">{{aud.substring(aud.lastIndexOf('/')+1)}}</div>
                            <div class="col col-10"><i class="ion-ios-close customIcon" ng-click="removeAudio($index)"></i></div>
                                </div>    
                            </li>
                    </ul>
                </div>    
          </div>
          
          <button class="btn-custom button-full button-large" ng-click="validationChecking()">
                    Submit
            </button>
          
         <br/>
          <br/>
          <br/>
    
      
      <script id="my-modal.html" type="text/ng-template">
         
          <div class="modal imagemodal">
             
         <!--   <ion-content class="modalclass">
                <div class="modal-outer">
              <div class="modal-content">    
               <button class="button btn-custom button-full button-large" ng-click="selectimage()">
                       <i class="ion-images icon-spacing customIcon"></i>Select Image
                </button>
              </div>
               <div class="modal-content">        
                <button class="button btn-custom button-full button-large  modal-data" ng-click="captureImage()">
                         <i class="ion-camera icon-spacing customIcon"></i>Capture Image
                </button>
                </div>
                 <div class="modal-content">    
                <button class="button btn-custom button-full button-large  modal-data" ng-click="captureAudio()">
                         <i class="ion-mic-a icon-spacing customIcon"></i>Capture Audio
                </button>
                </div>
             </div>
                
            </ion-content> -->
              <ion-modal-view>
                <ion-header-bar>
                  <h1 class="title" style="width:90%">Image Preview <i ng-click="closeModal()" class="ion-close-circled" style="float:right;font-size:22px"></i></h1>
                </ion-header-bar>
              <ion-content>
                <div class="modal-content">
                    <img ng-src="{{zoomimage}}" class="zoomimage"/>
                </div>
              </ion-content>
                   </ion-modal-view>
          </div>
          
     </script>
      </div>     
  </ion-content>
</ion-view>  