<ion-view view-title="User Detail" ng-controller="userController">  
  <ion-content scroll="true">
     
        <div class="banner">
                <img src="img/banner6.png"  alt="Slide Image Here" class="slider_image"/>
        </div>
      
      
      <div class="row">
        <div class="col text-center">
                

                    <img src="img/6.png"   onclick ="window.open('http://www.bharathration.com/we_view/index.php');" class="col-50"/>
            <button class="btn-custom button-full button-large  modal-data" ng-click="captureImage()">
                     <i class="ion-camera icon-spacing customIcon"></i>Take a snap of your order list
            </button>
 <button class="btn-custom button-full button-large  modal-data" ng-click="captureAudio()">
                     <i class="ion-mic-a icon-spacing customIcon"></i>Record your order list
            </button>
                    
                   <!-- <map name="Map" id="Map">
                        <area alt="" title="" href="#" shape="poly" onclick ="window.open('http://www.bharathration.com/we_view/index.php');" coords="362,48,361,307,380,308,405,302,433,290,462,263,489,220,496,181,488,133,473,103,445,75,422,61,399,54" />
                        <area alt="" title="" href="#" shape="poly" onclick ="window.open('http://www.bharathration.com/we_view/index.php');" coords="360,305,360,50,351,50,315,61,263,103,241,138,236,182,243,219,257,246,277,275,305,292,328,304" />
                    </map> -->
                <!--   <a onclick ="window.open('http://www.bharathration.com/we_view/index.php');">
                        <img src="img/shop.png" class="press_here_img" alt="Press Here"/>
                   </a> -->
                   
        </div>     
      </div>
      
     <div class="row payment-time">
         <div class="col-67">
             
             <p class="heading-bordertime"><b>Available Delivery Time Slots</b></p>
           <p>7:00AM - 9:00AM</p>
           <p>11:00AM - 4:00PM</p>
           <p>6:00PM - 9:00PM</p>
         </div>
         <div class="col-33">
             <p class="heading-borderpay"><b>Payment Options</b></p>
             <p>Cash On Delivery</p>
             <p>Credit / Debit Card </p>
           <p>Net Banking</p>
         </div>
      </div>
  

      <br/>
      <br/>
      
  </ion-content>
</ion-view>