<ion-view view-title="User Detail">  
  <ion-content scroll="true">
     
        <div class="banner">
                <img src="img/banner6.jpg" alt="Slide Image Here" class="slider_image"/>
        </div>
      
      
      <div class="row">
        <div class="col product_offer">
                <div class="press_here">
                   <a href="http://www.bharathration.com/we_view/index.php" target="_blank">
                        <img src="img/shop.png" class="press_here_img" alt="Press Here"/>
                   </a>
                </div>    
        </div>     
      </div>
      
     <div class="row">
        <div class="col">
            <a href="#/placeorder">
            <button class="button icon-left ion-camera button-positive">Capture Image</button>
            </a>    
        </div>  
        <div class="col">
            <a href="#/placeorder">
            <button class="button icon-left ion-mic-a button-positive">Capture Audio</button>
            </a>    
        </div>      
      </div>
      
      <br/>
      <br/>
      
  </ion-content>
</ion-view>