<ion-view view-title="Mobile" ng-controller="userController">  
  <ion-content scroll="true">
     
<div class="list otp-spacing">
  <label class="item item-input">
    <input type="number" placeholder="Enter Mobile Number" ng-model="user.user_mobileno" ng-minlength="10" ng-maxlength="10">
  </label>
 
    <button ng-click="validateMobile()" class="button button-full button-positive button-font">Submit</button>

    <div>
      {{ermessage}}
    </div>
</div>
             

  </ion-content>
</ion-view>