<ion-view view-title="Mobile" ng-controller="userController">  
    
  <ion-content scroll="true" class="mobile-background">
     
<div class="list otp-spacing " ng-init="loadMobile()">

    <div class="row">
        <div class="col">
            <label class="phonelabel" id="phonelabel" ng-model="user.user_mobileno"><span id="phonelab">{{user.user_mobileno}}</span></label>
        </div>
    </div>  
      
    <div class="row dialpad"   style="flex-wrap: wrap">
         <div ng-repeat="button in buttons"  class="col-33">
             <button ng-click="createPhoneNumber({{button}})" class="customkeypad">
                 <span class="button-clr">{{button}} </span>      </button>
         </div>
        <div class="col-33">
            <button class="customkeypad"  ng-click="clearPhoneNumber()"><span class="button-clr">C</span>                 </button>
        </div>
        <div class="col-33">
            <button class="customkeypad"  ng-click="createPhoneNumber(0)"><span class="button-clr">0</span>                 </button>  
        </div>
        <div class="col-33">
            <button class="customkeypad"  ng-click="deletePhoneNumber()"><span class="button-clr"><i class="ion-backspace"></i></span>                    </button> 
        </div>
   </div>

    <button ng-click="validateMobile()" ng-disabled="mobile_next" class="button button-full button-positive button-font next-button">Next</button>
    <div>
      {{ermessage}}
    </div>
</div>
             
  </ion-content>
</ion-view>