<ion-view view-title="Signin" ng-controller="userController" ng-init="loadOTP()">  
  <ion-content scroll="true" class="otp-background"> 
     
<!--<div class="list otp-spacing">
  <label class="item item-input item-stacked-label" >
      
    <input type="number" placeholder="Enter OTP" ng-model="user.user_otp"  ng-minlength="5" ng-maxlength="5"
           ng-change="validateOtp()">
  </label>
    
      <div> 
      {{ermessage}}
    </div>
</div>
    -->
<div class="list otp-spacing">
      <div class="row">
        <div class="col">
           <p class="otp-text">Enter your OTP</p>
          </div>  
       
      </div>
      <div class="row"></div>
       <div class="row otp-numbers"> 

             <label type="number" class="col-10 otp_label"  ng-model="user.user_otp[0]">{{user.user_otp[0]}}</label>
            <label type="number" class="col-10 otp_label"  ng-model="user.user_otp[1]">{{user.user_otp[1]}}</label>
            <label type="number" class="col-10 otp_label"  ng-model="user.user_otp[2]">{{user.user_otp[2]}}</label>
            <label type="number" class="col-10 otp_label"  ng-model="user.user_otp[3]">{{user.user_otp[3]}}</label>
            <label type="number" class="col-10 otp_label"  ng-model="user.user_otp[4]">{{user.user_otp[4]}}</label>

           </div>
    
    <div class="dialpad">
             <div class="row">
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{1}})" class="customkeypad">
                         <span class="button-clr">1</span>
                     </button>
                 </div>
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{2}})" class="customkeypad">
                         <span class="button-clr">2</span>
                     </button>
                 </div>
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{3}})" class="customkeypad">
                         <span class="button-clr">3</span>
                     </button>
                 </div>
            </div>
            <div class="row">
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{4}})" class="customkeypad">
                         <span class="button-clr">4</span>
                     </button>
                 </div>
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{5}})" class="customkeypad">
                         <span class="button-clr">5</span>
                     </button>
                 </div>
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{6}})" class="customkeypad">
                         <span class="button-clr">6</span>
                     </button>
                 </div>
            </div>
            <div class="row">
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{7}})" class="customkeypad">
                         <span class="button-clr">7</span>
                     </button>
                 </div>
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{8}})" class="customkeypad">
                         <span class="button-clr">8</span>
                     </button>
                 </div>
                 <div class="col-33">
                     <button ng-click="createOTPNumber({{9}})" class="customkeypad">
                         <span class="button-clr">9</span>
                     </button>
                 </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <button class="customkeypad" ng-click="clearOTPNumber()">
                        <span class="button-clr">
                         C
                        </span>
                    </button>
                </div>
                <div class="col-33">
                     <button class="customkeypad" ng-click="createOTPNumber(0)">
                         <span class="button-clr"> 0 </span>
                    </button>  
                </div>
                <div class="col-33">
                     <button class="customkeypad" ng-click="deleteOTPNumber()">
                         <span class="button-clr"><i class="ion-backspace"></i></span>
                    </button> 
                </div>
            </div>
                
           </div>

   
      <div>    
      {{ermessage}}
    </div>
    </div>
               

  </ion-content>
    <button ng-click="validateOtp()" 
              ng-disabled="disableotp" class="button button-full button-positive button-font
                                             otpnext-button bottom_bottom">Next</button>
</ion-view>