<ion-view  ng-controller="userController">
  <ion-content class="padding"> 
<div class="row">
    <div class="col process-padding">
        <div class="process-content">    
            <button class="btn-custom button-full button-large" onclick ="window.open('http://www.bharathration.com/we_view/index.php');">
                   <i class="ion-social-chrome icon-spacing customIcon"></i>Proceed To Bharat Ration Site
            </button>
        </div>
        <div class="process-content">        
            <button class="btn-custom button-full button-large  modal-data" ng-click="captureImage()">
                     <i class="ion-camera icon-spacing customIcon"></i>Take a snap of your order list
            </button>
        </div>
         <div class="process-content">    
            <button class="btn-custom button-full button-large  modal-data" ng-click="captureAudio()">
                     <i class="ion-mic-a icon-spacing customIcon"></i>Record your order list
            </button>
        </div>
    </div>
</div>      
    </ion-content>
</ion-view>
