<!--<ion-view ng-controller="userController" ng-init="loadSplash()" hide-nav-bar="true" class="background-blue">
<ion-content class="background-blue">
<section class = "home-container background-blue">
    <div class="row row-center" >
        <div class="col text-center" >
          <img alt="Logo" src="img/headerlogo.png" > 
           
        </div>
      </div>
</section>
</ion-content>
</ion-view>
-->

<div ng-controller="userController" ng-init="loadSplash()" hide-nav-bar="true" class="background-blue parent">
     <div class="child">
       <!-- <span class="splash-font">Bharat Ration</span>
        <span class="version-font">Version 6.0</span> -->
        <p style="text-align:center" class="splash-font">Bharat Ration</p>
        <p style="text-align:center" class="version-font">Version 6.0</p>
    </div>
     

</div> 