<ion-view  ng-controller="userController">
  <ion-content class="padding"> 

      
 <div class="card">
  <div class="item item-divider">
       
     Proceed to Bharath Ration Site
      <i class="ion-social-chrome icon-spacing "></i>
  </div>
  <div class="item item-text-wrap">
    Purchase products by clicking on this button
  </div>
</div>
 <div class="card">
  <div class="item item-divider">
        
     Take a snap shot of your order list
     <i class="ion-camera icon-spacing"></i>
  </div>
  <div class="item item-text-wrap">
    Take a picture  of your order list using your mobile and send us an email
    
  </div>
</div>
 <div class="card">
  <div class="item item-divider">
      
     Record your oder list
      <i class="ion-mic-a icon-spacing"></i>  
  </div>
  <div class="item item-text-wrap">
    Record your order list using your mobile and send us an enail
     
  </div>
</div>
       
             
        
        
        
        
        
        
        
      
     
    </ion-content>
</ion-view>
