<ion-view view-title="View Single Order" ng-init="singleorderpage()" ng-controller="userController">  
  <ion-content scroll="true">
      
   <div class="list top-spacing">
        
           
        <div class="col col-100" ng-repeat="single in singleorder" ng-show="singleorderstatus == true">
          <!--   <button class="button button-block button-positive" 
                     ng-click="openFileinBrowser('{{single.file_url}}')">{{single.file_name}}</button> -->
                <p  class="inovice-style" ng-click="openFileinBrowser('{{single.file_url}}')">Tap to Download invoice</p>
            
            <div ng-show="invoiceoption == true">
                <p>
                 <button class="button btn-custom order-button"
                          ng-click="acceptOrder('{{single.order_id}}')">Accept order</button>
                <button class="button btn-custom order-button"
                        ng-click="rejectOrder('{{single.order_id}}')">Reject order</button>
               </p>
                
          </div>
        </div>
       <div ng-show="noorders == true">
        <p class="inovice-style">No invoice found</p>    
       </div>      
    </div>
    </ion-content>
</ion-view>