<ion-view view-title="Signin" ng-controller="userController">  
  <ion-content scroll="true" ng-init="getAllOrders()">
      
     <ion-list>
          <ion-item ng-repeat="orders in allorders">
              
              <div class="row" ng-hide="noorders == true">
                <div class="col col-50">
                         <p>Order ID : {{orders.order_id}}</p>  
                         <p>Date :  {{orders.order_date|date:"MM/dd/yyyy"}}</p>
                         <p>Status : {{orders.status}}</p>    
                </div>
                <div class="col">
                        <button class="button button-energized" ng-click="viewSingleOrderDetail('{{orders.order_id}}')">View Order</button>  
                </div>
              </div>
              
              <div class="row" ng-show="noorders == true">
                <p>No Orders Found</p>
              </div>
              
          </ion-item>
     </ion-list>
      
      
      
    </ion-content>
</ion-view>