.background, .background .pane, .background .item, .background .item-complex .item-content
{
    background-color:#F5F6F7;
}

.customIcon
{
    font-size: 22px;
}

.phone_bg
{
  
}
.welcome
{
  text-align: center;
  text-transform: uppercase;    
}
.button-clr
{
color:white;
}
.customkeypad
{
    border-bottom: 1px solid #d2d2d2 !important;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 3%;
    margin-top: 5%;
    background: none;
  //  width:90%;
    width: 50%;
    font-size: 1.85em;
}

.keypad_input
{
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
}
.next-button
{
    border: 1px solid white !important;
}

.bottom_bottom
{
    position: absolute; 
    bottom: 0px; 
}

.otpnext-button
{
border: 1px solid white !important;
margin-top: 3% !important;
}
.dialpad
{
    margin:0 auto;
    width:80%;
    text-align: center;
    padding-top:20px !important;
}
.mobile-background
{
  background-color: #027fdc !important; 
  padding-top: 10% !important;
}
.otp-background
{
  background-color: #027fdc !important; 
  padding-top: 10%;  
}
.phonelabel
{
    width:78%;
    margin-left:12%;
    text-align: center;
    vertical-align: middle;
    font-size:1.85em;
    font-weight: 300;
    background-color: #027fdc !important;
    color:#d2d2d2;
    display: block;
    border: 1px solid #d2d2d2;   
    margin-top:10px;
    min-height: 59px;
    line-height: 62px;
}
.otp_label
{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #d2d2d2;
    color: white !important;
    font-size:1.85em;
}

.starter_shop_icon
{
  width:60%;
  height:auto;
  margin: 0 auto;    
  display: block;
}
.final-submit
{
margin-bottom: 10px;
}

.button
{
    background-color: #027fdc !important;
}

.input-label
{
    font-weight: bold;
}

.modal-outer
{
    margin-top:15%;
}

.icon-spacing
{
    margin:0 10px;
    
}

.audio-file
{
    text-align: center;
}

.audio-data
{
    padding:2px;
    border:1px dotted grey;
    width:100%;
}

.list
{
    width:100%;
}

.product_offer
{
    margin: 0 auto;
}

#delievery_detail
{
    text-align: left;
}

#purchase_detail
{
    text-align: right;
}

.banner
{
    width:100%;
}

.title
{
    text-align: center !important;
}

.press_here
{
    text-align: center;
    margin: 0 auto;
}

.press_here_img
{
    width:50%;   
}

.slider_image
{
    width:100%;
    height:auto;
}

.audio_div
{
    text-align: right;
}

.btn-custom
{
   // background-color: #00BFF5;
    background-color: #027fdc !important;
    color:#ffffff;
}
.btn-custom:active
{
    
}
.process-content
{
    padding:10px;
    margin-top: 10px;
}


.process-content button
{
    font-size: 15px; 
}

.bar-footer-custom
{
    background-color: #CD2129;
    color: #ffffff;
    font-size: 34px;
}

.imagemodal
{
    width:100%;
    background-color: transparent;
}
.audioimg-popup
{
margin-top: 20% !important;
}
.zoomimage
{
    width:100%;
    height:auto;
}

select
{
    margin-top:10px;
    height:35px;
    width:90%;
    background-color: white;
}
.header-custom
{
    min-height: 59px;
    line-height: 53px;
    background-color: #027fdc !important;
  
}
.header-title
{
  
   color: white !important;
   font-size: 22px !important;
}

.payment-time
{
 background-color: gainsboro;

}
.select-border
{
 border:  1px solid #D3D3D3;
 
}

.userguide-div
{
    background-color: #00BFF5;
}
a
{
text-decoration: none !important;
    
}

.heading-bordertime
{
 border-bottom: 1px dotted black !important;
width: 82% !important;   
    
}
.heading-borderpay
{
border-bottom: 1px dotted black !important;
width: 100% !important;
    
}
.error_message
{
color:red;
    
}
.image-close
{
text-align: center;

}
.process-padding
{
    
 margin-top: 24% !important;   
}
.usergiude
{
    color: #ffffff !important;
}
.text-center
{
text-align: center;
}

.selected
{
background-color: aqua !important;
}
.fontsize
{
font-size:22px;
}
.border-custom
{
border: 1px solid red;
}
.top-spacing
{
   margin-top: 20px; 
}
.button-font
{
font-size: 1.85em !important;
min-height: 59px;
line-height: 53px;
margin-top: 20px;
}
.input-border
{
border: 1px solid red !important;
}
.displaynone
{
display: none ;
}
.final-submit
{
width: 100%;    
}
.final-submit-outer
{
padding-left: 2%;
padding-right: 2%;
}
.otp-text
{
 color: white;
 text-align: center;
 font-size: 1.85em;
 padding-bottom:10px;
}
.header_logo_img
{
    width:12%;
    height:12%;
    vertical-align:middle;  
    margin-top: -20px;
}
.header-title
{
    
}
.header_outer
{
  margin-top: -10px;   
}

.logo
{
    width:50px;
    height:50px;
}

.logo_text
{
    font-size:2em !important;
    color:white;    
    margin-left:9%;
    text-align:center;
}
.otp-spacing
{
//margin-top: 5%;
}
.otp-numbers
{
padding-top: 10px !important; 
min-height: 65px;
}
.inovice-style
{
padding-top: 16px;
padding-bottom: 10px;
padding-left: 4px;
font-size: 24px;
color: #027fdc !important;
}
.order-button
{
margin-left: 4px;
}
.no-orders
{
 margin-top:30px;
font-size:22px !important;
width:260px !important;
color: #027fdc !important;   
}
.audioicon
{
border: #027fdc !important; 
background: white;
}
.loading
{
background:#8E8E8E, !important;
color:white !important;
opacity: 0.5  !important;  
}
.loading-backdrop
{
 background:#8E8E8E, !important;
color:white !important;   
opacity: 0.5  !important;  
}

.button_view_order
{
    margin-left: 10%;
}

#image_camera
{
    margin-top:15%;
}

#image_gallery
{
    margin-top:10%;
}

#audio_mike
{
    margin-top:-10%;
}

.text_border
{
border: 1px solid #d2d2d2 !important;  
width: 100% !important; 
}

.form_outer
{
width: 90%;
padding: 3%;
}

.input-label
{
    width:100%;
}

.button_back
{ 
    margin-top: 5% !important;
    margin-left: 2%;
}

.btn_top
{
    margin-top: 200px !important;
}

.ion-android-arrow-back
{
    font-size:35px;
    color:white;
}

.header_icon
{
    margin-top:-10px;
}

.footer_button
{
        bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: 44px;
}