.customIcon {
    font-size: 32px;
}

.welcome
{
  text-align: center;
  text-transform: uppercase;    
}


.starter_shop_icon
{
  width:60%;
  height:auto;
  margin: 0 auto;    
  display: block;
}

.button
{
    background-color: #027fdc !important;
}

.input-label
{
    font-weight: bold;
}

.modal-outer
{
    margin-top:15%;
}

.icon-spacing
{
    margin:0 10px;
    
}

.audio-file
{
    text-align: center;
}

.audio-data
{
    padding:2px;
    border:1px dotted grey;
    width:100%;
}

.list
{
    width:100%;
}

.product_offer
{
    margin: 0 auto;
}

#delievery_detail
{
    text-align: left;
}

#purchase_detail
{
    text-align: right;
}

.banner
{
    width:100%;
}

.title
{
    text-align: center !important;
}

.press_here
{
    text-align: center;
    margin: 0 auto;
}

.press_here_img
{
    width:50%;   
}

.slider_image
{
    width:100%;
    height:auto;
}

.audio_div
{
    text-align: right
}

.btn-custom
{
   // background-color: #00BFF5;
    background-color: #027fdc !important;
    color:#ffffff;
}
.btn-custom:active
{
    
}
.process-content
{
    padding:10px;
    margin-top: 10px;
}


.process-content button
{
    font-size: 15px; 
}

.bar-footer-custom
{
    background-color: #CD2129;
    color: #ffffff;
    font-size: 34px;
}

.imagemodal
{
    width:100%;
    background-color: transparent;
}

.zoomimage
{
    width:100%;
    height:auto;
}

select
{
    margin-top:10px;
    height:35px;
    width:90%;
    background-color: white;
}
.header-custom
{
    min-height: 59px;
    line-height: 53px;
    background-color: #027fdc !important;
  
}
.header-title
{
  
   color: white !important;
   font-size: 22px !important;
}

.payment-time
{
 background-color: gainsboro;

}
.select-border
{
 border:  1px solid #D3D3D3;
 
}

.userguide-div
{
    background-color: #00BFF5;
}
a
{
text-decoration: none !important;
    
}

.heading-bordertime
{
 border-bottom: 1px dotted black !important;
width: 82% !important;   
    
}
.heading-borderpay
{
border-bottom: 1px dotted black !important;
width: 100% !important;
    
}
.error_message
{
color:red;
    
}
.image-close
{
text-align: center;

}
.process-padding
{
    
 margin-top: 24% !important;   
}
.usergiude
{
    color: #ffffff !important;
}
.text-center
{
text-align: center;
}

.selected
{
background-color: aqua !important;
}
.fontsize
{
font-size:20px;
}
.border-custom
{
border: 1px solid red;
}
.top-spacing
{
   margin-top: 20px; 
}
.button-font
{
font-size: 20px !important;
}
.input-border
{
border: 1px solid red !important;
}
.displaynone
{
display: none ;
}
.final-submit
{
width: 100%;    
}
.final-submit-outer
{
padding-left: 2%;
padding-right: 2%;
}
.vieworders
{
//margin-top: -100px !important;
}

.header-title
{
    height:50px;
    line-height: 50px;
}